# Astro build output
dist/
.astro/

# Dependencies
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.production
.env.*
!.env.example

# macOS-specific files
.DS_Store

# IDE settings
.idea/
.vscode-test

# Cache directories
.cache
.parcel-cache
.npm
.eslintcache
.stylelintcache

# Coverage directory used by tools like istanbul
coverage
*.lcov
.nyc_output

# Optional files
*.tsbuildinfo
.yarn-integrity
*.tgz

# Framework-specific
.next
out
.nuxt
.svelte-kit/
.vuepress/dist
.temp
.docusaurus
.firebase/

# Other
.tern-port
.dynamodb/
.serverless/
.fusebox/
